<form action="{% url 'create-representative' %}"  class="repForm" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label col-form-label-sm"> Representative name </label>
            <div class="col-sm-8">
                <input type="text" name="name" class="form-control form-control-sm" required/>
            </div>
        </div>
        <div class="form-group row mt-2">
            <label class="col-sm-4 col-form-label col-form-label-sm"> Representative email </label>
            <div class="col-sm-8">
                <input type="text" name="email" class="form-control form-control-sm" required/>
            </div>
        </div>
        <div class="form-group row mt-2">
            <label class="col-sm-4 col-form-label col-form-label-sm"> Representative phone </label>
            <div class="col-sm-8">
                <input type="text" name="phone_number" class="form-control form-control-sm" required/>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <button type="submit" class="btn btn-dark btn-sm mr-4">
            Save changes
        </button>
    </div>
</form>
<script>
 $('.repForm').on('submit', function(event) {
        event.preventDefault();
        $.ajax({
            url: $(this).attr('action'),
            method: 'POST',
            data: $(this).serialize(),
            success: function(response) {
                if (response) {
                    representative = response.representative;
                    var representativeName = representative.name;
                    alert(representativeName)
                    var representativeId = representative.id;
                    $('#representative').append(`<option selected value="${representativeId}">${representativeName}</option>`);
                } else {
                    console.error('No representative data received.');
                }
            },
            error: function(xhr, status, error) {
                console.error('Error occurred:', error);
            }
        });
        $('#Modal').modal('hide');
    });
</script>