<table class="table table-sm mt-3 bg-white size-13 table-scrollable ">
    <thead>
        <tr>
            <th>Confirmed Offer Ref</th>
            <th>Print </th>
            <th>Invoice </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        {% for confirmed_offer in project.confirmed_commercialoffer_set.all %}
                <tr>
                    <td> 
                        <a href="#" 
                            onclick="load_modal('Confirmed offer N°: {{confirmed_offer.confirmation_nbr }}','{%  url "update-confirmed-commercialOffer"  confirmed_offer.id %}')">
                            {{ confirmed_offer.confirmation_nbr }}
                        </a>
                    </td>
                    <td> 
                        <a href="#"
                            onclick="load_modal('Generate pdf','{%  url "print-confirmedOrder" confirmed_offer.id %}')">
                            <i class="material-icons text-dark align-middle">picture_as_pdf</i>
                        </a>
                    </td>
                    <td>
                        {% if not confirmed_offer.invoice %}
                            <a href="#" 
                                onclick="load_modal('Create invoice','{%  url "create-invoice" confirmed_offer.id %}')">
                                Create Invoice 
                            </a>
                            {% else %}
                            Invoice created 
                        {% endif %}
                    </td>
                    <td>
                        <div class="dropdown-item">
                            <form method="POST" action="{% url 'cancel-confirmedOffer' confirmed_offer.id %}">
                                {% csrf_token %}
                                <a class="text-danger delete-btn" href="#" title="cancel this confirmation">
                                    <i class="material-icons size-11">clear</i>
                                </a>
                            </form>
                        </div>
                    </td>
                </tr>
        {% empty %}
            <tr>
                <td colspan="7">No confirmed offer available.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>