<table class="table table-sm mt-3 bg-white">
    <thead>
        <tr>
            <th>Invoices</th>
            <th>Customs Report</th>
            <th>Packing </th>
            <th>Print tag </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        {% for offer in project.commercialoffer_set.all %}
                <tr>
                    {% if offer.invoice  %}
                        <td> 
                            <a href="#" class="text-info"
                                onclick="load_modal('print Invoice','{%  url "print-invoice" offer.invoice.id %}')">
                                {{ offer.invoice.invoice_nbr }}
                            </a>
                        </td>
                        <td> 
                            <a href="#" class="text-info"
                                onclick="load_modal('Customs Report','{%  url "print-customsReport" offer.invoice.id %}')">
                                print report 
                            </a>
                        </td>
                        <td> 
                            <a href="#" class="text-info"
                                {% if offer.invoice.packing  %}
                                    onclick="load_modal('Update packing','{%  url "update-packing" offer.invoice.packing.id %}')"
                                {% else %}
                                    onclick="load_modal('Create packing','{%  url "create-packing" offer.invoice.id %}')"
                                {% endif %}>
                                create packing  
                            </a>
                        </td>
                         <td> 
                            <a href="#" class="text-dark"
                                    onclick="load_modal('Print tag','{%  url "print-tag" offer.invoice.id %}')">
                                print tag  
                            </a>
                        </td>
                        <td>
                            <div class="dropdown-item">
                                <form method="POST" action="{% url 'delete-invoice' offer.invoice.id %}">
                                    {% csrf_token %}
                                    <a class="text-danger delete-btn" href="#" title="cancel this confirmation">
                                        <i class="material-icons size-11">clear</i>
                                    </a>
                                </form>
                            </div>
                        </td>
                    {% endif %}
                </tr>
        {% endfor %}
    </tbody>
</table>