
<table class="table table-sm mt-3 bg-white" id="articles-table">
  <thead>
    <tr>
      <th> 
        <input type="checkbox" class="form-check-input bg-secondary" id="check-all">
      </th>
      <th> pos </th>
      <th> Article Number </th>
      <th> Article Description </th>
      <th> Action </th>
    </tr>
  </thead>
  <tbody>
    {% for article in articles %}
    <tr>
      <td><input type="checkbox" class="form-check-input" name="articles" value="{{ article.id }}"></td>
      <td>{{ forloop.counter }}</td>
      <td>
         <a  href="#" class="text-info"
            onclick="load_modal('Article detail','{%  url "update-article" article.id %}')">{{ article.article_nbr }}</a>
      </td>
      <td>
        <textarea disabled rows="5" class="form-control size-12"> {{ article.description_fr}} </textarea>
      </td>
      <td>
        <a class="text-danger" href="{% url 'remove-article-from-project' article.id %}"><i class="material-icons">clear</i>

        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
