{% extends 'main.html' %}
{% block content %}
<main class="container-fluid">
  <div class="p-3 my-3 text-white bg-dark rounded shadow-sm">
    <div class="lh-1">
      <div class="row">
        <div class="col-md-3">
          <input type="text" id="searchProject" class="form-control form-control-sm typeahead"
            placeholder="search projet" value="{{ project.project_nbr }}" />
        </div>
        <div class="dropdown show col-md-2 offset-md-7">
          <a class="btn btn-light btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Action
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{% url 'create-project' %}"> <i class="material-icons align-middle">add</i>
              New project</a>
            <a class="dropdown-item" data-bs-toggle="modal" href="#" data-bs-target="#Modal"
              onclick="load_modal('Create client','{%  url "create-client" %}')"> <i
                class="material-icons align-middle">add</i> New client</a>
            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Modal"
              onclick="load_modal('Create Supplier','{%  url "create-supplier" %}')" href="#"> <i
                class="material-icons align-middle">add</i> New supplier</a>
            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Modal"
              onclick="load_modal('Create Article','{%  url "create-article" %}')" href="#"> <i
                class="material-icons align-middle">add</i> New article </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="my-3 p-3 border border-1 rounded shadow-sm bg-light">
    <form method="POST" enctype="multipart/form-data"
      action="{% if page == 'add-project' %} {% url 'create-project' %} {% else %} {% url 'update-project' project.id %} {% endif %}">
      {% csrf_token %}
      {% include 'alert.html' %}
      <div class="row">
        <div class="col-md-4">
          <div class="form-group row">
            <label for="id_project_nbr" class="col-sm-3 col-form-label col-form-label-sm">Project number</label>
            <div class="col-sm-9">
              <input type="text" name="project_nbr" class="form-control form-control-sm" id="id_project_nbr"
                value="{{project_nbr}}{{project.project_nbr}}" required />
            </div>
          </div>
          <div class="form-group row mt-2">
            <label for="id_project_name" class="col-sm-3 col-form-label col-form-label-sm">Project name</label>
            <div class="col-sm-9">
              <input type="text" name="project_name" class="form-control form-control-sm" id="id_project_name"
                value="{{project.project_name}}" required />
            </div>
          </div>
          <div class="form-group row mt-2">
            <label for="client_nbr" class="col-sm-3 col-form-label col-form-label-sm">Client number</label>
            <div class="col-sm-9">
              <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="client" required
                id="client_nbr" aria-label=".form-select-sm example">
                <option value=""> Client number </option>
                {% for client in clients %}
                  <option value="{{ client.id }}" {% if project.client.client_nbr == client.client_nbr %} selected {% endif%}>
                    {{ client.client_nbr }}
                  </option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group row mt-2">
            <label for="id_client_name" class="col-sm-3 col-form-label col-form-label-sm">Client name</label>
            <div class="col-sm-9 d-flex">
              <input type="text" disabled class="form-control form-control-sm" id="id_client_name"
                value="{{project.client.client_name}}" />&nbsp;
              <a class="text-info" data-bs-toggle="modal" data-bs-target="#Modal"
                onclick="get_clientDetail('Client detail','{%  url "update-client" 0 %}')" href="#"><i
                  class="material-icons align-middle text-dark">visibility</i></a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label for="client_ref" class="col-sm-3 col-form-label col-form-label-sm">Client Ref</label>
            <div class="col-sm-9">
              <input type="text" name="client_ref" class="form-control form-control-sm" id="client_ref"
                value="{{project.client_ref}}" required />
            </div>
          </div>
          <div class="form-group row mt-2">
            <label for="our_ref" class="col-sm-3 col-form-label col-form-label-sm">Our Ref</label>
            <div class="col-sm-9">
              <input type="text" name="our_ref" class="form-control form-control-sm" id="our_ref"
                value="{{project.our_ref}}{{project_nbr}}" required />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label for="desc" class="col-sm-3 col-form-label col-form-label-sm">Project description</label>
            <div class="col-sm-9">
              <textarea class="form-control" name="project_description" id="desc"
                rows="2">{{project.project_description}}</textarea>
            </div>
          </div>
          <div class="form-group row mt-2">
            <label for="to_do" class="col-sm-3 col-form-label col-form-label-sm">To do</label>
            <div class="col-sm-9">
              <textarea class="form-control" id="to_do" name="to_do" rows="2">{{project.to_do}}</textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-6">
          <div id="dropzone" class="mt-2">
            <div class="dropdown">
              <button class="btn btn-sm btn-danger dropdown-toggle" type="button" id="project-documents-dropdown"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons align-middle">description</i>
                See Project documents
              </button>
              <div class="dropdown-menu" aria-labelledby="project-documents-dropdown">
                {% for project_file in project.file_set.all %}
                <a class="dropdown-item" href="{% url 'download-file' project_file.id %}" target="_blank">
                  {{project_file.file.name }} </a>
                {% endfor %}
              </div>
           </div>
            <p>Drag and drop files here to upload.</p>
          </div>
        </div>
      </div>
      <div class="mt-3 d-flex justify-content-end">
        <button type="submit" class="btn btn-dark btn-sm">
          {% if page == 'add-project' %}
          Save project
          {% else %}
          Save changes
          {% endif %}
        </button>&nbsp;
        <a href="{% url 'project-home' %}" class="ml-2 btn btn-dark btn-sm">Refresh</a>
      </div>
    </form>
  </div>
  {% if page == 'update-project' %}
    <div class="my-3 p-3 border border-1 rounded shadow-sm bg-light">
      <div class="row">
        <div class="col-md-4">
          <strong class="text-info">Project Articles</strong>
        </div>
        <div class="col-md-2">
          <form method="POST" action="{% url 'add-article-to-project' %}">
            <div class="input-group">
                {%  csrf_token %}
                <input type="hidden" name="project_nbr" value="{{ project.project_nbr }}" />
                <input type="text"  name="article_nbr" id="searchArticle" class="form-control form-control-sm typeahead" placeholder="Search Article" />
                <div class="input-group-append">
                  <button class="btn btn-sm btn-dark" type="submit">Add to project</button>
                </div>
            </div>
          </form>
        </div>
        <div class="col-md-1">
          <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Modal"
            onclick="load_modal('Create Article','{%  url "create-article" %}')" href="#">
            <i class="material-icons align-middle">add</i> New article
          </a>
        </div>
        <div class="col-md-3 offset-2">
          <div class="btn-group" role="group" aria-label="Button group">
              <button class="btn btn-sm btn-secondary size-12" data-bs-toggle="modal" data-bs-target="#Modal"
                  onclick="load_modal('Create quote Request','{% url 'create-quoteRequest' project.id %}')">
                  <i class="material-icons align-middle">add</i> New Quote request
              </button>
              <button class="btn btn-sm btn-secondary size-12" data-bs-toggle="modal" data-bs-target="#Modal"
                  id ="new-commercialOffer">
                  <i class="material-icons align-middle">add</i> New Commercial offer
              </button>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6">
            {% include 'project_articles.html' with project=project%}
          </div>
          <div class="col-md-6">
            {% include  'project_quoteRequests.html' %}
            {% include  'project_commercialOffers.html' %}
          </div>
      </div>
    </div>
  {% endif %}
</main>
{% endblock %}

{% block javascript %}



<script type="text/javascript">

  function load_modal(title, page_url) {
    $('.modal-title').text(title);
    $('.modal-body').load(page_url);
  }
  var client_id = "{{project.client.id}}";
  function get_clientDetail(title, url) {
    if (client_id == 0)
      title = "No client chosen"
    var url = url.replace('0', client_id);
    load_modal(title, url)
  }

  $('#searchProject').autocomplete({
    source: function (request, response) {
      $.getJSON("{% url 'get-projectsByKeyWord' %}",
        { keyword: request.term }, function (data) {
          // Map the project numbers to an array of objects with label and value properties
          var mappedData = $.map(data, function (item) {
            return {
              label: item,
              value: item
            };
          });
          response(mappedData);
        });
    },
    select: function (event, ui) {
      project_nbr = ui.item.value;
      var url = "{% url 'project-detail' 0 %}".replace('0', project_nbr);
      window.location.href = url;
      return false;
    }
  });
  // search articles 
  $(document).ready(function () {
    $('#searchArticle').autocomplete({
      source: function (request, response) {
        $.getJSON("{% url 'get-articlesByKeyWord' %}",
          { keyword: request.term }, function (data) {
            // Map the article numbers to an array of objects with label and value properties
            var mappedData = $.map(data, function (item) {
              return {
                label: item,
                value: item
              };
            });
            response(mappedData);
          });
      }
    });

    // Get references to the "check-all" checkbox and all the other checkboxes in the table
    const $checkAll = $('#check-all');
    const $articleCheckboxes = $('#articles-table tbody input[type=checkbox]');
    // Add a click event listener to the "check-all" checkbox
    $checkAll.on('click', () => {
      // Set the "checked" property of all the other checkboxes to the same value as the "check-all" checkbox
      $articleCheckboxes.prop('checked', $checkAll.prop('checked'));
    });

    let clients = []
    {% for c in clients %}
    client = { id: '{{c.id}}', client_name: '{{c.client_name}}' }
    clients.push(client)
    {% endfor %}

    $('#client_nbr').change(function () {
      client_id = $(this).val()
      let client = clients.filter(clt => clt.id == client_id);
      client = client[0]
      $('#id_client_name').val(client.client_name)
    });

    // adding files to project 

    // Get the dropzone element
    var dropzone = $('#dropzone');

    // Add event listeners for dragenter and dragover events
    dropzone.on('dragenter dragover', function (event) {
      event.preventDefault();
      event.stopPropagation();
      dropzone.addClass('dragover');
    });

    // Add event listeners for dragleave and drop events
    dropzone.on('dragleave drop', function (event) {
      event.preventDefault();
      event.stopPropagation();
      dropzone.removeClass('dragover');
    });

    // Add event listener for drop event
    dropzone.on('drop', function (event) {
      event.preventDefault();
      event.stopPropagation();
      dropzone.removeClass('dragover');

      // Create a new FormData object
      var formData = new FormData();

      // Add the files to the FormData object
      $.each(event.originalEvent.dataTransfer.files, function (index, file) {
        formData.append('files', file);
      });

      // Send the files to the server using AJAX
      $.ajax({
        url: '{% url "upload-file-to-project" 0 %}',
        type: 'POST',
        headers: { 'X-CSRFToken': '{{ csrf_token }}' },
        data: formData,
        processData: false,
        contentType: false,
        success: function (response) {
          alert("file has been added successfully")
        }
      });
    });

    $('#fileList').toggle();
    $('.file-list-toggle-icon').click(function (e) {
      e.preventDefault();
      $('#fileList').toggle();
    });

      $('#new-commercialOffer').click(function() {
      // Array to store the IDs of checked articles
      var selectedArticles = [];
      // Iterate over the checked checkboxes in the table
      $('#articles-table tbody input:checked').each(function() {
        selectedArticles.push($(this).val());
      });
      
      if (selectedArticles.length == 0)
      {
        $('.modal-title').text("select at least one article !");
        return
      }
      var url = '{% url "create-commercialOffer" project.id %}?';
      var queryParam = selectedArticles.map(articleId => `articles[]=${articleId}`).join('&');
      url += queryParam;
      alert(url)
      load_modal('Create Commercial offer', url);
       
    });

  });



</script>

{% endblock %}