{% load i18n %}
<table class="table table-sm bg-white size-13">
    <thead>
        <tr>
            <th>{% trans "Supplier command Ref" %}</th>
            <th>{% trans "Supplier" %}</th>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Print" %}</th>
            <th>{% trans "Action " %}</th>
        </tr>
    </thead>
    <tbody>
        {% for supplierCommand in project.suppliercommand_set.all %}
            {% if supplierCommand %}
            <tr>
                <td>
                    <a onclick="load_modal('Update command  N°: {{supplierCommand.command_nbr}}','{%  url "update-supplierCommand"  supplierCommand.id %}')"
                        href="#">
                        {{ supplierCommand.command_nbr }}
                    </a>
                </td>
                <td role="button"
                    onclick="load_modal('Update supplier','{%  url "update-supplier"  supplierCommand.supplier.id %}')">
                    {{ supplierCommand.supplier }}/({{ supplierCommand.supplier.language|default:"No language" }})
                </td>
                <td>
                    {{ supplierCommand.created_at|date:'d-m-Y' }}
                </td>
                <td>
                    <a href="#" onclick="load_modal('Generate pdf','{%  url "print-supplierCommand"  supplierCommand.id %}')"
                    >
                        <i class="material-icons align-middle text-dark">picture_as_pdf</i>
                    </a>
                </td>
                <td>
                    <div class="dropdown-item">
                        <form method="POST" action="{% url 'delete-supplierCommand' supplierCommand.id  %}">
                            {% csrf_token %}
                            <a class="text-danger delete-btn" href="#" title="cancel this confirmation">
                                <i class="material-icons size-11">clear</i>
                            </a>
                        </form>
                    </div>
                </td>
            </tr>
            {% endif %}
        {% empty %}
            <tr>
                <td colspan="7">{% trans "No command available." %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>