{% load i18n %}
<div class="row">
    <div class="col-md-4">
      <div class="form-group row">
        <label for="project_nbr" class="col-sm-3 col-form-label col-form-label-sm">{% trans "Project Nbr" %}</label>
        <div class="col-sm-9">
          <input type="text" name="project_nbr" class="form-control form-control-sm" id="project_nbr"
            value="{{project_nbr}}{{project.project_nbr}}" required/>
        </div>
      </div>
      <div class="form-group row mt-2">
        <label for="project_name" class="col-sm-3 col-form-label col-form-label-sm">{% trans "Project name" %}</label>
        <div class="col-sm-9">
          <input type="text" name="project_name" class="form-control form-control-sm" id="project_name"
            value="{{project.project_name}}" required />
        </div>
      </div>
      <div class="form-group row mt-2">
        <label for="client_nbr" class="col-sm-3 col-form-label col-form-label-sm">{% trans "Client number" %}</label>
        <div class="col-sm-9 d-flex gap-1">
              <input type="text" class="form-control form-control-sm searchClient" required 
              value="{{project.client.client_nbr}}"
              />
              <a class="text-info"
              onclick="get_clientDetail('Client detail','{%  url "update-client" 0 %}')" href="#"><i
              class="material-icons align-middle text-dark">edit</i></a>
              <input type="hidden" name="client" value="{{ project.client.id }}" id="client-id"
              />
        </div>
      </div>
      <div class="form-group row mt-2">
        <label for="client_ref" class="col-sm-3 col-form-label col-form-label-sm">{% trans "Client Ref" %}</label>
        <div class="col-sm-9">
          <input type="text" name="client_ref" class="form-control form-control-sm" id="client_ref"
            value="{{project.client_ref|default:''}}" />
        </div>
      </div>
      <div class="form-group row mt-2">
        <label for="our_ref" class="col-sm-3 col-form-label col-form-label-sm">{% trans "Our Ref" %}</label>
        <div class="col-sm-9">
          <input type="text" name="our_ref" class="form-control form-control-sm" id="our_ref"
            value="{{project.our_ref}}" required />
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-2 mt-md-0">
      <div class="form-group row">
            <label for="buyer" class="col-sm-3 col-form-label col-form-label-sm">{% trans "Buyer" %}</label>
            <div class="col-sm-8 d-flex gap-1">
                <input type="hidden" name="buyer" value="{{ project.buyer.id }}" id="buyer-id"/>
                <input type="text" class="form-control form-control-sm searchBuyer" required 
                    value="{{project.buyer.name}}"/>
                <a class="text-info"
                onclick="get_buyerDetail('Update buyer','{%  url "update-buyer" 0 %}')" href="#"><i
                class="material-icons align-middle text-dark">edit</i></a>
                <a href="#" 
                  class="size-12"
                  onclick="load_modal('New Buyer','{% url "create-buyer" %}')">
                  <i class="material-icons align-middle text-dark">add</i>
                </a>
            </div>
        </div>
        <div class="form-group row mt-2">
            <label for="representative" class="col-sm-3 col-form-label col-form-label-sm">{% trans "Representative" %}</label>
            <div class="col-sm-6">
                <select name="representative" class="form-select form-select-sm" id="representative" required>
                    <option value="">{% trans " Chose a representant " %}</option>
                    {% for representative in representatives %}
                    <option value="{{representative.id }}" {% if project.representative.id == representative.id %} selected {% endif %}>
                        {{ representative }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4 mt-2 mt-md-0">
      <div class="form-group row">
        <label for="desc" class="col-sm-3 col-form-label col-form-label-sm">{% trans "Project description" %}</label>
        <div class="col-sm-9">
          <textarea class="form-control" name="project_description" id="desc"
            rows="4">{{project.project_description|default:''}}</textarea>
        </div>
      </div>
      <div class="form-group row mt-2">
        <label for="to_do" class="col-sm-3 col-form-label col-form-label-sm">{% trans "To do" %}</label>
        <div class="col-sm-9">
          <textarea rows="4" class="form-control" id="to_do" name="to_do" rows="2">{{project.to_do|default:''}}</textarea>
        </div>
      </div>
    </div>
</div>