<table class="table table-sm mt-3 bg-white size-13 table-scrollable">
    <thead>
        <tr>
            <th>Supplier command Ref</th>
            <th>Supplier</th>
            <th>Print</th>
            <th>Action </th>
        </tr>
    </thead>
    <tbody>
        {% for supplierCommand in project.suppliercommand_set.all %}
            {% if supplierCommand %}
            <tr>
                <td>
                    <a onclick="load_modal('Update command  N°: {{supplierCommand.command_nbr}}','{%  url "update-supplierCommand"  supplierCommand.id %}')"
                        href="#">
                        {{ supplierCommand.command_nbr }}
                    </a>
                </td>
                <td>
                    {{ supplierCommand.supplier }}/({{ supplierCommand.supplier.language|default:"No language" }})
                    <a  onclick="load_modal('Update supplier','{%  url "update-supplier"  supplierCommand.supplier.id %}')"
                        href="#"><i
                        class="material-icons align-middle size-13 text-dark">visibility</i>
                    </a>
                </td>
                <td>
                    <a href="#" onclick="load_modal('Generate pdf','{%  url "print-supplierCommand"  supplierCommand.id %}')"
                    >
                        <i class="material-icons align-middle text-dark">picture_as_pdf</i>
                    </a>
                </td>
                <td>
                    <div class="dropdown-item">
                        <form method="POST" action="{% url 'delete-supplierCommand' supplierCommand.id  %}">
                            {% csrf_token %}
                            <a class="text-danger delete-btn" href="#" title="cancel this confirmation">
                                <i class="material-icons size-11">clear</i>
                            </a>
                        </form>
                    </div>
                </td>
            </tr>
            {% endif %}
        {% empty %}
            <tr>
                <td colspan="7">No command available.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>