<table class="table table-sm mt-3 bg-white size-13 table-scrollable">
    <thead>
        <tr>
            <th>Supplier command Ref</th>
            <th>Print</th>
            <th>Action </th>
        </tr>
    </thead>
    <tbody>
        {% for quoteRequest in project.quoterequest_set.all %}
            {% if quoteRequest.suppliercommand %}
            <tr>
                <td>
                    <a onclick="load_modal('Update command','{%  url "update-supplierCommand"  quoteRequest.suppliercommand.id %}')"
                        href="#">
                        {{ quoteRequest.suppliercommand.command_nbr }}
                    </a>
                </td>
                <td>
                    <a href="#" onclick="load_modal('Generate pdf','{%  url "print-supplierCommand"  quoteRequest.suppliercommand.id %}')"
                    >
                        <i class="material-icons align-middle text-dark">picture_as_pdf</i>
                    </a>
                </td>
                <td>
                    <div class="dropdown-item">
                        <form method="POST" action="{% url 'delete-supplierCommand' quoteRequest.suppliercommand.id  %}">
                            {% csrf_token %}
                            <a class="text-danger delete-btn" href="#" title="cancel this confirmation">
                                <i class="material-icons size-11">clear</i>
                            </a>
                        </form>
                    </div>
                </td>
            </tr>
            {% endif %}
        {% empty %}
            <tr>
                <td colspan="7">No command available.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>