{% load i18n %}
<table class="table table-sm bg-white size-13">
    <thead>
        <tr>
            <th>{% trans "Offer Ref" %}</th>
            <th>{% trans "Print CO" %}</th>
            <th>{% trans "Print TO" %}</th>
            <th>{% trans "Confirmation" %} </th>
            <th>{% trans "Action" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for offer in project.commercialoffer_set.all %}
            <tr>
                <td> 
                    <a href="#"
                        onclick="load_modal('Update commercial offer N°: {{offer.offer_nbr }}','{%  url "update-commercialOffer" offer.id %}')">
                        {{ offer.offer_nbr }}
                    </a>
                </td>
                <td> 
                    <a href="#"
                        onclick="load_modal('Generate pdf','{%  url "print-commercialOffer" offer.id %}')">
                        <i class="material-icons text-dark align-middle">picture_as_pdf</i>
                    </a>
                </td>
                <td> 
                    <a href="#" class="text-info"
                        onclick="load_modal('Generate pdf','{%  url "print-technicalOffer" offer.id %}')">
                        <i class="material-icons text-dark align-middle">picture_as_pdf</i>
                    </a>
                </td>
                <td>
                    <a href="#" class='text-primary'
                        onclick="load_modal('Confirm this offer','{%  url "confirm-commercialOffer" offer.id %}')">
                        Confirm offer
                    </a>
                </td>
                <td>
                    <div class="dropdown-item">
                        <form method="POST" action="{% url 'delete-commercialOffer' offer.id %}">
                            {% csrf_token %}
                            <a class="text-danger delete-btn" href="#" title="delete this offer">
                                <i class="material-icons size-11">clear</i>
                            </a>
                        </form>
                    </div>
                </td>
            </tr>
        {% empty %}
        <tr>
            <td colspan="7">{% trans "No offer available." %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>