{% load static %}
<div class="container-fluid">
    <div class="item-to-print font-arial">
        <!-- Header, logo section -->
        <div class="row">
            <div class="col-12">
                <img src="{% static 'img/pdf_header.png' %}" class="img-fluid" alt="Header Image">
            </div>
        </div>
        <!-- Contact section -->
        <div class="mt-2 d-flex justify-content-between">
            <div class="size-13">
                {{ quoteRequest.supplier }} <br/>
                {{ quoteRequest.supplier.country.country_name_fr }} <br/>
                Phone :{{ quoteRequest.supplier.phone_number }} <br/>
                Email :{{ quoteRequest.supplier.email }} <br/>
                Fax :{{ quoteRequest.supplier.fax }}
            </div>
            <div>
                <h6 class="mt-5 text-center outset-border py-2 px-5">
                   {{ translations.inquiry }} <br/> {{ quoteRequest.request_nbr }} 
                </h6>
            </div>
            <div class="size-13">
                <p>
                    Case followed by <br/>
                    Mr. T.Sammoudi <br/>
                    Tel.: +49 (4104) 699 99 - 0 <br/>
                    Fax: +49 (4104) 699 99 - 5<br/>
                </p>
                <p>
                    Contact Local: <br/>
                    Mr. Aziz <br/>
                    Tel.: +49 (4104) 699 99 - 0 <br/>
                    Fax: +49 (4104) 699 99 - 5<br/>
                </p>
            </div>
        </div>
        <div class="size-13 row mt-4">
            <p> {{ translations.greeting }} <br/> {{ translations.controlling_idea_qr }} </p>
            <p> Free text to edit ! </p>
        </div>
        <!-- Body section -->
        <div class="row mt-4">
            <div class="col-12">
                <table class="table table-sm bg-white size-13">
                    <thead>
                        <tr>
                            {% for column_name in translations.columns_name|slice:":5" %}
                                <th> {{ column_name }} </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for article in quoteRequest.articles.all %}
                        <tr>
                            <td> {{ forloop.counter }} </td>
                            <td> {{ article.article_nbr }} </td>
                            <td class="text-description"> 
                                <pre>{{ article.get_description }}</pre>
                            </td>
                            <td> {{ article.quantity }} </td>
                            <td> {{ article.article_unit }} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Footer section -->
        <div class="row mt-3" contentEditable="true">
            <div class="col-12">
                <p class="text-left size-12">
                    {% for phrase in translations.delivery_infos %}
                        {{  phrase }} <br/>
                    {% endfor %}
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <p class="text-left size-14"> {{ translations.signature }} <br/> ESS-Mondial GmbH </p>
            </div>
        </div>
    </div>
    <button onclick="printPage()" class="mt-2 btn btn-dark btn-sm"> print </button>
</div>
<script>
    function printPage() {
        var printContent = document.querySelector('.item-to-print');
        var originalBody = document.body.innerHTML;
        document.body.innerHTML = printContent.outerHTML;
        window.print();
        document.body.innerHTML = originalBody;
    }
</script>