{% load static %}
{% load format_numbers %}
<div class="container">
    <div class="item-to-print font-arial" contentEditable="true">
        <!-- Header section -->
        <div class="header-pdf">
            <div class="header-img row">
                <div class="col-12">
                    <img src="{% static 'img/print_header.png' %}" class="img-fluid" alt="Header Image">
                </div>
            </div>
        </div>
         <!-- Contact section -->
        <div class="contact-section d-flex justify-content-between">
            <div class="size-13">
                {{ commercialOffer.project.client }} <br />
                {{ commercialOffer.project.client.address }} <br />
                Phone :{{ commercialOffer.project.client.phone_number1 }} <br />
                Email :{{ commercialOffer.project.client.email1 }} <br />
                Fax :{{ commercialOffer.project.client.fax }}
            </div>
            <div>
                <h6 class="mt-5 text-center outset-border py-2 px-5">
                    PROFORMA <br/> {{ commercialOffer.offer_nbr }} 
                </h6>
            </div>
            <div class="size-13">
                <p>
                    {{ translations.contact_name }} <br/>
                    Mr: {{ request.user.first_name }} <br/>
                    Tel: {{ request.user.phone_number }} <br/>
                    Fax: {{ request.user.fax }}
                </p>
                <p>
                    {% if commercialOffer.local_contact %}
                        {{translations.local_contact }} <br/>
                       Mr:  {{ commercialOffer.project.local_contact.name }} <br/>
                       Tel: {{ commercialOffer.project.local_contact.email }} <br/>
                       Fax: {{ commercialOffer.project.local_contact.fax }} <br/>
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="mt-2 d-flex justify-content-between">
            <div>
                <p> {{translations.project_nbr}}: {{ commercialOffer.project.project_nbr }} <br/>
                    {{translations.our_ref}} : {{ commercialOffer.offer_nbr }}<br/>
                    {{translations.client_ref}} : {{ commercialOffer.project.client_ref }}
                </p>
            </div>
            <div class="ml-10 size-12">
                <p> Reinbek/Hamburg, <span id="currentDate"></span> </p>
            </div>
        </div>
        <div class="mt-3 row size-13">
            <p> {{translations.greeting}}, <br/> {{translations.controlling_idea_co}} :</p>
        </div>
        <!-- Body section -->
        <div class="row mt-2">
            <div class="col-12">
                <table class="table table-sm bg-white" id="offer-articles-table">
                    <thead>
                        <tr class="size-13">
                            {% for column_name in translations.columns_name|slice:":5" %}
                                <th> {{ column_name }} </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in commercialOffer.get_orders %}
                        <tr class="size-13">
                            <td> {{ forloop.counter }} </td>
                            <td> {{ order.article.article_nbr}} </td>
                            <td class="text-description"> 
                                <pre>{{ order.get_description }}</pre>
                            </td>
                            <td> {{order.quantity|thousand_separator}} </td>
                            <td> {{order.article.article_unit}} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="row">
                    <p class="size-13"> {{translations.time_delivery}}:
                        {{ commercialOffer.delivery_time_interval }} {{ commercialOffer.delivery_time_unit }}
                        <br/> 
                        {{translations.warranty_period}}: 12 mois aprés livraison
                    </p>
                </div>
            </div>
        </div>
        <!-- Footer section -->
        <div class="row mt-3">
            <div class="col-12">
                <p class="text-left size-12">
                    {{ translations.closing_co }}
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <p class="text-left size-14"> {{ translations.signature }} <br/> Team ESS-Mondial GmbH </p>
            </div>
        </div>
    </div>
    <button onclick="printPage()" class="mt-2 btn btn-dark btn-sm"> print </button>
</div>
<script>

    function printPage() {
        var printContent = document.querySelector('.item-to-print');
        document.body.innerHTML = printContent.outerHTML;
        window.print();
        window.location.reload();
    }

    $(document).ready(function() {
        var currentDate = new Date();
        var day = currentDate.getDate();
        var month = currentDate.getMonth() + 1; 
        var year = currentDate.getFullYear();

        var formattedDate = day + '.' + month + '.' + year;
        $('#currentDate').text(formattedDate);
    });

</script>