<div class="row">
    <fieldset class="border p-1 mt-2 rounded">
        <form method="POST" class="submit-form" action="{% url 'update-profile' %}">
            {% csrf_token %}
            <h5> Account Infos </h5>
            <div class="form-group row">
                <label for="id_first_name" class="col-sm-4 col-form-label col-form-label-sm">First Name</label>
                <div class="col-md-4">
                    <input type="text" name="first_name" class="form-control form-control-sm" id="id_first_name"
                        value="{{user.first_name}}" min="2" max="20"/>
                </div>
            </div>
            <div class="form-group row mt-3">
                <label for="id_last_name" class="col-sm-4 col-form-label col-form-label-sm">Last Name</label>
                <div class="col-md-4">
                    <input type="text" name="last_name" class="form-control form-control-sm" id="id_last_name"
                        value="{{user.last_name}}" min="2" max="20"/>
                </div>
            </div>
            <div class="form-group row mt-3">
                <label for="id_email" class="col-sm-4 col-form-label col-form-label-sm">Email</label>
                <div class="col-md-4">
                    <input type="email" name="email" class="form-control form-control-sm" id="id_email"
                        value="{{user.email}}" min="2" max="20"/>
                </div>
            </div>
            <button class="btn btn-sm btn-dark mt-4" type="submit"> Update profile </button>
        </form>
    </fieldset>
    <fieldset class="border p-1 mt-2 rounded">
        <form method="POST" class="submit-form" action="{% url 'update-password' %}">
            {%  csrf_token %}
            <h5> Change your password </h5>
            <div class="form-group row mt-3">
                <label for="id_password1" class="col-sm-4 col-form-label col-form-label-sm">New Password</label>
                <div class="col-md-4">
                    <input type="password" name="password1" class="form-control form-control-sm" id="id_password1" min="8" max="20"/>
                </div>
            </div>
            <div class="form-group row mt-3">
                <label for="id_password2" class="col-sm-4 col-form-label col-form-label-sm">Confirm Password</label>
                <div class="col-md-4">
                    <input type="password" name="password2" class="form-control form-control-sm" id="id_password2" min="8" max="20"/>
                </div>
            </div>
            <button class="btn btn-sm btn-dark mt-4" type="submit"> Change password </button>
        </form>
    </fieldset>
</div>
<script>
    $(document).ready(function () {
        $('.submit-form').submit(function(event) {
            event.preventDefault(); // Prevent default form submission
            let formData = $(this).serialize(); // Serialize the form data
            let url = $(this).attr('action');
            $.ajax({
            type: 'POST',
            url: url, // Replace with the URL of your Django view
            data: formData,
            dataType: 'json',
            success: function(response) {
                $('#Modal').modal('hide');
                alert(response.message);
            },
            error: function() {
                alert('An error occurred');
            }
            });
        });
    });
</script>