{% extends 'main.html' %}
{% block content %}
{% load format_numbers %}
<main class="container-fluid">
    <div class="p-3 my-3 text-white bg-dark rounded shadow-sm">
        <div class="lh-1">
            <strong> <a href="{% url 'project-home' %}" class="text-white"> Project</a> / Manage commission </strong>
        </div>
    </div>
    <div class="my-3 p-3 border border-1 rounded shadow-sm bg-light">
        {% include 'alert.html' %}
        <form method="GET" class="submit-form" action="{% url 'manage-commission' %}">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group row mt-2">
                        <label class="col-sm-4 col-form-label col-form-label-sm">Start date </label>
                        <div class="col-sm-8">
                            <input type="date" name="start_date" class="form-control form-control-sm"
                                value="{{ search_filters.start_date }}" required />
                        </div>
                    </div>
                    <div class="form-group row mt-2">
                        <label class="col-sm-4 col-form-label col-form-label-sm">End date </label>
                        <div class="col-sm-8">
                            <input type="date" name="end_date" class="form-control form-control-sm"
                                value="{{ search_filters.end_date }}" required />
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group row mt-2">
                        <label class="col-sm-4 col-form-label col-form-label-sm">Representative </label>
                        <div class="col-sm-8">
                            <select required name="representative" class="form-select form-select-sm">
                                <option value=""> Chose a Representative</option>
                                {% for rep in representatives %}
                                <option value="{{rep.id}}" {% if rep.id ==  representative.id %} selected {% endif %}>
                                    {{ rep }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row mt-2">
                        <label class="col-sm-4 col-form-label col-form-label-sm">Filter By:</label>
                        <div class="col-sm-8">
                            <select required name="filter_type" class="form-select form-select-sm">
                                <option value="invoice" {% if search_filters.filter_type == "invoice" %} selected="selected" {% endif %}>invoice</option>
                                <option value="command" {% if search_filters.filter_type == "command" %} selected="selected" {% endif %}>command</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="mt-2 btn btn-dark btn-sm"> Search </button>
                </div>
            </div>
        </form>
        <div class="mt-5 container-fluid size-13">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Client</th>
                        <th>Project</th>
                        <th>Invoice / Confirmation Ref</th>
                        <th>Date </th>
                        <th>Client Ref </th>
                        <th>Sales </th>
                        <th>Commission</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invoice in invoices %}
                    <tr>
                        <td>{{ invoice.commercialOffer.project.client }}</td>
                        <td>{{ invoice.commercialOffer.project }}</td>
                        <td>
                            <a href="#" class="text-info"
                                onclick="load_modal('Confirmed order','{%  url "get-commercialOffer" invoice.commercialOffer.id %}')">
                                {% if invoice.confirmation_nbr %} 
                                    {{ invoice.confirmation_nbr }}
                                {% else %}
                                    {{ invoice.invoice_nbr }}
                                {% endif %} 
                            </a>
                        </td>
                        <td>{{ invoice.created_at|date:'d.m.Y' }}</td>
                        <td>{{ invoice.client_nbr }}</td>
                        <td>{{ invoice.commercialOffer.get_total_selling_withFee|thousand_separator }}</td>
                        <td>{{ invoice.get_commission|thousand_separator }} {{ invoice.commercialOffer.currency }} </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7">No invoice available.</td>
                    </tr>
                    {% endfor %}
                    <tfoot>
                        <td colspan="5"> </td>
                        <td> Total sales = <strong> {{ total_sales }} </strong> </td>
                        <td> Total commission = <strong> {{ total_commission }} </strong> </td>
                    </tfoot>
                </tbody>
            </table>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <strong> Calculation  </strong>
                <table class="table table-sm size-13 mt-2">
                    <tbody>
                        <tr>
                            <th>Total Sales:</th>
                            <td>{{ total_sales|thousand_separator }}</td>
                        </tr>
                        <tr>
                            <th>Total Commission:</th>
                            <td>{{ total_commission|thousand_separator }}</td>
                        </tr>
                        <tr>
                            <th>Total Advances:</th>
                            <td>{{ total_advances|thousand_separator }}</td>
                        </tr>
                        <tr>
                            <th>Remaining:</th>
                            <td class="{% if remaining < 0 %}text-danger{% else %}text-success{% endif %}">
                                <strong>
                                    {{ remaining|thousand_separator }}
                                </strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <strong> Advance Payments  </strong>
                <table class="table table-sm size-13 mt-2">
                    <thead>
                        <tr>
                            <th>Advance</th>
                            <th>Comment</th>
                            <th>Date</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for advancepayment in advancePayments %}
                        <tr>
                            <td>{{ advancepayment.amount|thousand_separator }}</td>
                            <td>{{ advancepayment.comment }}</td>
                            <td>{{ advancepayment.updated_at|date:'d.m.Y' }}</td>
                            <td>
                                <a class="text-warning" href="{% url 'update-advancePayment' advancepayment.id %}"><i class="material-icons size-13">edit</i></a>
                            </td>
                            <td>
                                <a class="text-danger" href="{% url 'delete-advancePayment' advancepayment.id %}"><i class="material-icons size-13">clear</i></a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5">No Advance Payments available.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <td colspan="4"> <strong> {{ total_advances|thousand_separator }}  {{ invoice.commercialOffer.currency }} </strong> </td>
                    </tfoot>
                </table>
            </div>
            <div class="col-md-4">
                <strong> New Advance  </strong>
                <form
                    method="POST"
                    class="mt-2"
                    action="{% if form_name == "create" %} {% url 'create-advancePayment' %} {% else %} {% url 'update-advancePayment' advancePayment.id %} {% endif %}">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label col-form-label-sm">representative </label>
                        <div class="col-sm-8">
                            <select required name="representative" class="form-select form-select-sm">
                                <option value=""> Chose a Representative </option>
                                {% for rep in representatives %}
                                <option value="{{rep.id}}" {% if rep.id == representative.id %} selected {% endif %}>
                                    {{ rep }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row mt-2">
                        <label class="col-sm-4 col-form-label col-form-label-sm">Amount </label>
                        <div class="col-sm-8">
                            <input type="number" name="amount" class="form-control form-control-sm"
                                value="{{ advancePayment.amount }}" required />
                        </div>
                    </div>
                    <div class="form-group row mt-2">
                        <label class="col-sm-4 col-form-label col-form-label-sm">Date </label>
                        <div class="col-sm-8">
                            <input type="date" name="updated_at" class="form-control form-control-sm"
                                value="{{ advancePayment.updated_at|date:'Y-m-d' }}" required />
                        </div>
                    </div>
                    <div class="form-group row mt-2">
                        <label class="col-sm-4 col-form-label col-form-label-sm">Comment </label>
                        <div class="col-sm-8">
                            <textarea name="comment" rows="3" class="form-control">{{ advancePayment.comment }}</textarea>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-success btn-sm"> Save changes </button>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a class="btn btn-success btn-sm" onclick="load_modal('print commission','{%  url "print-commission" %}')"> Get Report </a>
        </div>
    </div>
</main>
{% endblock %}
{% block javascript %}
<script>
        // load page by url, and display it in modal  
        function load_modal(title, page_url) {
            $('.modal-title').text(title);
            $('.modal-body').load(page_url);
            $('#Modal').modal('show');
        }
</script>
{% endblock %}