<form method="POST" class="submit-form" action="{% url 'manage-commission' %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label col-form-label-sm">Start date </label>
                <div class="col-sm-8">
                    <input type="text" name="start_date" class="form-control form-control-sm" value="{{ start_date }}"
                        required />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label col-form-label-sm">End date </label>
                <div class="col-sm-8">
                    <input type="text" name="end_date" class="form-control form-control-sm" value="{{ end_date }}"
                        required />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row mt-2">
                <label class="col-sm-4 col-form-label col-form-label-sm">representative </label>
                <div class="col-sm-8">
                    <select required name="representative" class="form-select form-select-sm">
                        <option value=""> Chose a Representative </option>
                        {% for representative in representatives %}
                        <option value="{{representative.id}}" {% if advancePayment.representative.id==representative.id
                            %} selected {% endif %}>
                            {{ representative }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row mt-2">
                <label class="col-sm-4 col-form-label col-form-label-sm">Filter By:</label>
                <div class="col-sm-8">
                    <select required name="filter_type" class="form-select form-select-sm">
                        <option value="invoice"> invoice </option>
                        <option value="command"> command </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Client</th>
                        <th>Invoice Ref</th>
                        <th>Date </th>
                        <th>Total sales </th>
                        <th>Commission</th>
                        <th>Last update</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invoice in invoices %}
                    <tr>
                        <td>{{ invoice.commercialOffer.project }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">No invoice available.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Advance</th>
                        <th>Amount</th>
                        <th>Comment</th>
                        <th>Created At</th>
                        <th>Last update</th>
                    </tr>
                </thead>
                <tbody>
                    {% for advancepayment in advancePayments %}
                    <tr>
                        <td>{{ advancepayment.amount }}</td>
                        <td>{{ advancepayment.comment }}</td>
                        <td>{{ advancepayment.created_at }}</td>
                        <td>{{ advancepayment.updated_at }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">No Advance Payments available.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <form action="{% if advancePayment %} {% url 'create-advancePayment' %} {% else %} 
                {% url 'update-advancePayment' advancePayment.id %} {% endif %}">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">Amount </label>
                    <div class="col-sm-8">
                        <input type="text" name="amount" class="form-control form-control-sm"
                            value="{{ advancePayment.amount }}" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">Comment </label>
                    <div class="col-sm-8">
                        <textarea name="comment" rows="3">  {{ advancePayment.comment }} </textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <button type="submit" class="mt-2 btn btn-dark btn-sm">
        Save changes </button>
</form>
<script>
    $(document).ready(function () {

    });
</script>