{% load format_numbers %}
{% load i18n %}
<div class="container-fluid">
    <form
        class="commercial-offer-form"
        action="{% url "update-invoice" invoice.id %}"
        method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="form-group row col-md-6">
                <label for="commission" class="col-md-4 col-form-label col-form-label-sm">
                    {{ invoice.project.representative }}'s commission 
                </label>
                <div class="col-md-3">
                    <input type="number" required placeholder="commission in %" name="commission"
                        class="form-control form-control-sm" value="{{ invoice.commission }}" id="commission" />
                </div>
                <div class="col-md-5">
                    <input type="text" disabled placeholder="Amount" class="form-control form-control-sm"
                        value="{{ invoice.get_commission|thousand_separator }} {{ invoice.currency|default:"" }}" id="commission_amount" />
                </div>
            </div>
            <div class="col-md-6 form-group row">
                <label for="client_nbr" class="col-sm-3 col-form-label col-form-label-sm"> 
                    <strong> Client Ref </strong> 
                </label>
                <div class="col-sm-9">
                    <input type="text" name="client_nbr" class="form-control form-control-sm"
                        id="client_nbr" placeholder="Client ref" value="{{ invoice.client_nbr|default:"" }}" />
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <table class="table table-sm bg-white size-13" id="offer-articles-table">
                <thead class="text-left size-11">
                    <tr>
                        <th>Article nbr</th>
                        <th>Description</th>
                        <th>Purchase price </th>
                        <th>Margin</th>
                        <th>Selling price </th>
                        <th>Qty</th>
                        <th>Unit</th>
                        <th>Total Purchase</th>
                        <th>Total Selling</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody class="text-nowrap">
                    {% for order in invoice.order_set.all %}
                    <tr>
                        <td class="article-id" data-article-id="{{ article.id }}">
                            <a  href="#" 
                                onclick="get_article('Article detail','{%  url "update-article" order.article.id %}')">
                                {{ order.article.article_nbr }}
                            </a>
                        </td>
                       <td style="width:300px">
                            <details>
                                <summary>Article Description</summary>
                                <textarea disabled rows="5" class="form-control size-11">{{ order.get_description_by_client_lang }}</textarea>
                            </details>
                        </td>
                        <td class="form-group">
                            <input type="number" name="purchase-price" 
                            class="purchase-price form-control form-control-sm"
                            placeholder="purchase price"
                            required
                            value="{{order.purchase_price}}"/>
                        </td>
                        <td class="form-group">
                            <input type="number" name="article-margin"
                            step="0.01" 
                            class="article-margin form-control form-control-sm"
                            placeholder="margin in %"
                            required
                            value="{{order.margin}}"/>
                        </td>
                        <td class="selling-price "> </td>
                        <td class="form-group">
                            <input type="number" name="quantity" 
                            class="article-quantity form-control form-control-sm"
                            required
                            value="{{order.quantity}}"/>
                        </td>
                        <td> {{order.article.article_unit}} </td>
                        <td class="total-purchase"></td>
                        <td class="total-selling"></td>
                        <td> <a href="#" class="btn btn-sm btn-remove"
                                onclick="load_modal('Update ','{%  url "delete-order-from-invoice" order.id %}')"> 
                            <i class="material-icons size-11 text-danger">delete_forever</i></a>
                        </td>
                    </tr>
                    <input type="hidden" name="order" value="{{ order.id }}">
                    <input type="hidden" name="article" value="{{ order.article.id }}">
                    {% endfor %}
                </tbody>
                <tfoot>
                    <td colspan="1">
                        <input type="text"  name="article_nbr" class="searchArticle form-control form-control-sm typeahead" placeholder="Search Article" />
                    </td>
                    <td colspan="6">
                        <button class="btn btn-sm"> + add new article</button>
                    </td>
                    <td colspan="1"> Total Purchase  = <strong class="sum-total-purchase"></strong></td>
                    <td colspan="2"> Total Price EXW = <strong  class="sum-total-selling"></strong></td>
                </tfoot>
            </table>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="d-none">
                    <input type="hidden" name="project" value="{{project.id}}{{invoice.project.id}}" />
                </div>
                <div class="form-group row mt-2">
                    <label for="exceptional-discount" class="col-sm-4 col-form-label col-form-label-sm"> Exceptional discount
                    </label>
                    <div class="col-sm-3">
                        <input type="number" name="discount" class="form-control form-control-sm"
                            placeholder = "discount in %" id="exceptional-discount"
                            required
                            value="{{ invoice.discount }}" />
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label for="transport" class="col-sm-4 col-form-label col-form-label-sm"> Shipping 
                    </label>
                    <div class="col-sm-8">
                        <select name="shipping" class="form-select form-select-sm" id="shipping">
                            <option value=""> Chose a shipping term</option>
                            {% for shipping in shippings %}
                            <option value="{{shipping.id }}" {% if invoice.shipping.id == shipping.id %} selected {% endif %}>
                                {{ shipping }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label for="transport" class="col-sm-4 col-form-label col-form-label-sm"> Transport mode
                    </label>
                    <div class="col-sm-8">
                        <select name="transport" class="form-select form-select-sm" id="transport">
                            <option value=""> Chose a transport mode</option>
                            {% for transport in transports %}
                            <option value="{{transport.id }}" {% if invoice.transport.id == transport.id %} selected {% endif %}>
                                {{ transport}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label for="destination" class="col-sm-4 col-form-label col-form-label-sm">Destination</label>
                    <div class="col-sm-8">
                        <select name="destination" class="form-select form-select-sm" id="destination">
                            <option value="">Choose a destination</option>
                            {% for destination in destinations %}
                            <option value="{{ destination.id }}" {% if invoice.destination.id == destination.id %} selected {% endif %}>
                                {{ destination }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label for="payment" class="col-sm-4 col-form-label col-form-label-sm">Payment mode</label>
                    <div class="col-sm-8">
                        <select name="payment" class="form-select form-select-sm" id="payment">
                            <option value="">Choose a payment mode</option>
                            {% for payment in payments %}
                            <option value="{{ payment.id }}" {% if invoice.payment.id == payment.id %} selected {% endif %}>
                                {{ payment }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label for="payment_date" class="col-sm-4 col-form-label col-form-label-sm"> Payment date
                    </label>
                    <div class="col-sm-8">
                        <input type="date" name="payment_date" class="form-control form-control-sm"
                            id="payment_date" value="{{invoice.payment_date|date:'Y-m-d'}}" />
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label for="time-unit" class="col-sm-4 col-form-label col-form-label-sm">delivery duration</label>
                    <div class="col-sm-8 row">
                        <div class="col-sm-8">
                            <input type="text" name="delivery_time" class="form-control form-control-sm"
                                value="{{invoice.delivery_time|default:""}}" placeholder="duration"/>
                        </div>
                        <div class="col-sm-4">
                            <select name="delivery_time_unit" class="form-select form-select-sm" id="time-unit">
                                <option value=""> time unit select </option>
                                {% for timeUnit in timeUnits %}
                                <option value="{{ timeUnit.id }}" {% if invoice.delivery_time_unit.id == timeUnit.id %} selected {%endif %}>
                                    {{ timeUnit }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                 </div>
                 <div class="form-group row mt-2">
                    <label for="warranty_period" class="col-sm-4 col-form-label col-form-label-sm"> Warranty period 
                    </label>
                    <div class="col-sm-8">
                        <input type="text" name="warranty_period" class="form-control form-control-sm"
                            id="warranty_period" value="{{ invoice.warranty_period|default:"" }}" />
                    </div>
                 </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row mt-2">
                    <label for="total-price" class="size-13 col-sm-4 col-form-label col-form-label-sm"> Total Price EXW deducted: </label>
                    <div class="col-sm-4">
                        <input type="number" name="shipping_fee" class="form-control form-control-sm"
                            disabled id="discounted_price" value="" step="any" />
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label for="total-price" class="size-13 col-sm-4 col-form-label col-form-label-sm"> Shipping fee : </label>
                    <div class="col-sm-4">
                        <input type="number" name="shipping_fee" class="form-control form-control-sm"
                            id="shipping_fee" value="{{invoice.shipping_fee|default:"0.00"}}" step="any" />
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label for="total-price" class="size-13 col-sm-4 col-form-label col-form-label-sm"> Transport fee : </label>
                    <div class="col-sm-4">
                        <input type="number" name="transport_fee" class="form-control form-control-sm"
                            id="transport_fee" value="{{invoice.transport_fee|default:"0.00"}}" step="any" />
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label for="total-price" class="size-13 col-sm-4 col-form-label col-form-label-sm"> Total Price : </label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control form-control-sm"
                            id="total-price"  disabled step="any" />
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label for="total-price" class="size-13 col-sm-4 col-form-label col-form-label-sm"> Currency : </label>
                    <div class="col-sm-4">
                        <select required name="currency" class="form-select form-select-sm">
                            <option value="">Choose a currency</option>
                            {% for currency in currencies %}
                            <option value="{{ currency.id }}" {% if invoice.currency.id == currency.id %} selected {%endif %}>
                                {{ currency }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="size-13 col-sm-4 col-form-label col-form-label-sm"> date CCDE: </label>
                    <div class="col-sm-4">
                        {{ invoice.created_at|date:'d-m-Y' }}
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="size-13 col-sm-4 col-form-label col-form-label-sm"> Show local contact: </label>
                    <div class="col-sm-4">
                        <input type="checkbox" {% if invoice.local_contact %} checked {%endif %} class="form-check-input" name="local_contact"
                            value="1" step="any" />
                    </div>
                </div>
            </div>
            <div class="mt-5 d-flex justify-content-end gap-4">
                <a href="#" class="btn btn-outline-dark"
                    onclick="load_modal('Generate pdf','{%  url "print-invoice" invoice.id %}')">
                    {% trans 'Download' %} <i class="material-icons align-middle">  download </i>
                </a>
                <button class="btn btn-sm btn-dark" type="submit"> Save changes </button>
            </div>
    </form>
</div>
<script>   
$(document).ready(function () {

     // search articles 
      $('.searchArticle').autocomplete({
        source: function (request, response) {
          $.getJSON("{% url 'get-articleByKeyWord' %}",
            { keyword: request.term }, function (data) {
              // Map the article numbers to an array of objects with label and value properties
              var mappedData = $.map(data, function (item) {
                return {
                  label: item,
                  value: item
                };
              });
              response(mappedData);
            });
        }
      });

    let isFirstExecution = true;

    function set_margin() {
        let margin = parseFloat($('#global-margin').val());
        if (margin >= 0 && margin <= 2) {
            $('#offer-articles-table tbody tr').each(function () {
                row = $(this);
                articleMarginInput = row.find('.article-margin');
                articleMarginInput.val(margin);
            });
        }
    }

    function calculate_sellingPrice() {
            let sellingPrice = 0;
            let totalSelling = 0;
            let articleQuantity = 0;
            let row = NaN;
            let sum_total_selling = 0;

            $('#offer-articles-table tbody tr').each(function () {
                row = $(this);
                articleQuantity = parseInt(row.find('.article-quantity').val()) || 0;
                purchasePrice = parseFloat(row.find('.purchase-price').val()) || 0;
                margin = parseFloat(row.find('.article-margin').val()) || 0;
                if (margin > 2 )
                {
                    margin = 2;
                    row.find('.article-margin').val(2);
                }
                else if (margin < 0)
                {
                    margin = 0 ;
                    row.find('.article-margin').val(0);
                }
                sellingPrice = margin * purchasePrice;
                totalSelling = sellingPrice * articleQuantity;
                sum_total_selling += totalSelling;

                row.find('.selling-price').text(formatNumber(sellingPrice));
                row.find('.total-selling').text(formatNumber(totalSelling));
            });

            $('tfoot .sum-total-selling').text(formatNumber(sum_total_selling));      
    }

    function calculate_purchasePrice() {
        let purchasePrice = 0;
        let articleQuantity = 0;
        let row = NaN;
        let sum_total_purchase = 0;

        $('#offer-articles-table tbody tr').each(function () {
            row = $(this);
            articleQuantity = parseInt(row.find('.article-quantity').val()) || 0;
            purchasePrice = parseFloat(row.find('.purchase-price').val()) || 0;
            totalPurchase = purchasePrice * articleQuantity;
            sum_total_purchase += totalPurchase;
            row.find('.total-purchase').text(formatNumber(totalPurchase));
        });
        // display the sum total purchase and sum total selling
        $('tfoot .sum-total-purchase').text(formatNumber(sum_total_purchase));
      
    }
    
    function calculate_discount()
    {
        let discount = parseFloat($('#exceptional-discount').val());
        let sum_total_selling = parseFloat($('tfoot .sum-total-selling').text()
        .replace(/\./g, '').replace(',', '.'));
        if (discount >= 0 && discount <= 100  && sum_total_selling > 0)
        {
            let discounted_price = (1 - discount/100) * sum_total_selling;
            $('#discounted_price').val(discounted_price.toFixed(2));

        }
        
        else
        {
            $('#discounted_price').val('');
        }
    }

    function calculate_total_price() {
        let transport_fee = parseFloat($('#transport_fee').val()) || 0;
        let shipping_fee = parseFloat($('#shipping_fee').val()) || 0;
        let sum_total_selling = parseFloat($('tfoot .sum-total-selling').text() 
        .replace(/\./g, '').replace(',', '.')) || 0;
        let discounted_price = parseFloat($('#discounted_price').val()) || 0;
        let total_price = discounted_price || sum_total_selling;
        if (total_price > 0)
        {
            let total_fee = transport_fee + shipping_fee;
            total_price = total_price + total_fee;
            $('#total-price').val(total_price.toFixed(2));

        }
    }

    $('.btn-margin').on('click', function () {
        set_margin();
        calculate_purchasePrice();
        calculate_sellingPrice();
        calculate_discount();
        calculate_total_price();
        update_commission();

    });

    $('.article-margin, .article-quantity, .purchase-price').on('input', function () {
        calculate_purchasePrice();
        calculate_sellingPrice();
        calculate_discount();
        calculate_total_price();
        update_commission();


    });

    $('#transport_fee, #shipping_fee').on('input', function() {
        calculate_total_price();
        update_commission();

    });

    $('#exceptional-discount').on('input', function() {
        calculate_discount();
        calculate_total_price();
    });

    // Execute recalculate function once on initial page load
    if (isFirstExecution) {
        calculate_purchasePrice();
        calculate_sellingPrice();
        calculate_discount();
        calculate_total_price();
        isFirstExecution = false;
    }

    function formatNumber(number) {
        // Convert the number to a string
        number = number.toFixed(2)
        var strNumber = number.toString();
        
        // Split the number into integer and decimal parts
        var parts = strNumber.split(".");
        
        // Format the integer part with thousands separators
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        
        // Join the integer and decimal parts with a comma
        var formattedNumber = parts.join(",");
        
        return formattedNumber + " {{invoice.currency|default:''}}";
    }

    $('tfoot .btn').click(function(event) {
        event.preventDefault();
        let article_nbr = $('tfoot .searchArticle').val();
        url = "{% url 'add-article-to-invoice' invoice.id 'article_nbr' %}".replace('article_nbr',article_nbr );
        load_modal('Update Commercial offer', url);
       
    });

    function update_commission()
    {
        var totalPrice = $('#total-price').val() || 0;
        var commission = $('#commission').val() || 0;
        var commissionPercentage = parseFloat(commission);
        if (!isNaN(totalPrice) && !isNaN(commissionPercentage)) {
            var commissionAmount = (totalPrice * commissionPercentage) / 100;
            $('#commission_amount').val(formatNumber(commissionAmount) + " {{ invoice.currency|default:"" }}");
        }
    }

    $('#commission').on('input', function () {
        update_commission();
    });

    
}); 


article_is_opned = false ;
function get_article(title, url)
{
    load_modal(title,url);
    article_is_opned = !article_is_opned;
}

url = "{% url 'update-invoice'  invoice.id %}";
$('#Modal').on('hidden.bs.modal', function() {
    if (article_is_opned)
    {
        load_modal('Create Commercial offer', url);
        $('#Modal').modal('show');
        article_is_opned = !article_is_opned
    }
});

</script>