{% load format_numbers %}
<div class="container-fluid">
    <form class="commercial-offer-form" method="POST" action="{% url 'update-invoice' invoice.id  %}">
        {% csrf_token %}
        <div class="row">
            <div class="form-group row col-md-6">
                <label for="commission" class="col-md-6 col-form-label col-form-label-sm">
                    <strong> {{ invoice.project.representative }}'s commission </strong>
                </label>
                <div class="col-md-3">
                    <input type="number" disabled placeholder="commission in %" 
                        class="form-control form-control-sm" value="{{ invoice.commission }}" />
                </div>
                <div class="col-md-3">
                    <input type="text" disabled placeholder="Amount" class="form-control form-control-sm"
                        value="{{ invoice.get_commission|thousand_separator }} {{ invoice.currency|default:'' }}" />
                </div>
            </div>
            <div class="col-md-4 form-group row">
                <label for="client_nbr" class="col-sm-4 col-form-label col-form-label-sm">
                    <strong> Client Ref </strong>
                </label>
                <div class="col-sm-8">
                    <input type="text" name="client_nbr" class="form-control form-control-sm" id="client_nbr"
                        value="{{ invoice.client_nbr|default:"" }}" />
                </div>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-dark btn-sm">
                    Save infos
                </button>
            </div>
        </div>
    </form>
    <div class="row mt-4">
        <table class="table table-sm bg-white size-13" id="offer-articles-table">
            <thead class="text-left size-11">
                <tr>
                    <th>Article nbr</th>
                    <th>Description</th>
                    <th>Purchase price </th>
                    <th>Qty</th>
                    <th>Margin</th>
                    <th>Unit</th>
                    <th>Selling price </th>
                    <th>Total Purchase</th>
                    <th>Total Selling</th>
                </tr>
            </thead>
            <tbody>
                {% for order in invoice.order_set.all %}
                <tr>
                    <td class="article-id" data-article-id="{{ article.id }}">
                        <a href="#" onclick="get_article('Article detail','{%  url " update-article" order.article.id
                            %}')">
                            {{ order.article.article_nbr }}
                        </a>
                    </td>
                    <td style="width:300px">
                        <details>
                            <summary>Article Description</summary>
                            <textarea disabled rows="5"
                                class="form-control size-11">{{ order.get_description_by_client_lang }}</textarea>
                        </details>
                    </td>
                    <td class="form-group">
                        {{ order.purchase_price|thousand_separator }} {{ invoice.currency|default:'' }}
                    </td>
                    <td class="form-group">
                        {{ order.quantity }}
                    </td>
                    <td class="form-group">
                        {{ order.margin }}
                    </td>
                    <td> {{order.article.article_unit}} </td>
                    <td class="selling-price "> {{order.get_selling_price|thousand_separator}} {{ invoice.currency|default:'' }}</td>
                    <td class="total-purchase"> {{order.get_total_purchase|thousand_separator}} {{ invoice.currency|default:'' }} </td>
                    <td class="total-selling"> {{order.get_total_selling|thousand_separator}} {{ invoice.currency|default:'' }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <td colspan="7">
                </td>
                <td colspan="1"> Total Purchase = 
                    <strong class="sum-total-purchase">
                        {{ invoice.get_total_purchase|thousand_separator }} 
                        {{ invoice.currency|default:'' }}
                    </strong>
                </td>
                <td colspan="2"> Total Price EXW = 
                    <strong class="sum-total-selling">
                        {{ invoice.get_total_selling|thousand_separator }} 
                        {{ invoice.currency|default:'' }}
                    </strong>
                </td>
            </tfoot>
        </table>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="form-group row mt-2">
                <label for="exceptional-discount" class="col-sm-4 col-form-label col-form-label-sm"> Exceptional
                    discount
                </label>
                <div class="col-sm-3">
                    <input type="number" name="discount" class="form-control form-control-sm" disabled
                        placeholder="discount in %" id="exceptional-discount" value="{{ invoice.discount }}" />
                </div>
            </div>
            <div class="form-group row mt-2">
                <label for="transport" class="col-sm-4 col-form-label col-form-label-sm"> Shipping
                </label>
                <div class="col-sm-8">
                    <select disabled class="form-select form-select-sm" id="shipping">
                        <option selected>
                            {{ invoice.shipping|default:"" }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group row mt-2">
                <label for="transport" class="col-sm-4 col-form-label col-form-label-sm"> Transport mode
                </label>
                <div class="col-sm-8">
                    <select disabled class="form-select form-select-sm" id="shipping">
                        <option selected>
                            {{invoice.transport|default:"" }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group row mt-2">
                <label for="destination" class="col-sm-4 col-form-label col-form-label-sm">Destination</label>
                <div class="col-sm-8">
                    <select disabled class="form-select form-select-sm" id="shipping">
                        <option selected>
                            {{invoice.destination|default:"" }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group row mt-2">
                <label for="payment" class="col-sm-4 col-form-label col-form-label-sm">Payment mode</label>
                <div class="col-sm-8">
                    <select disabled class="form-select form-select-sm" id="payment">
                        <option selected>
                            {{ invoice.payment|default:"" }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group row mt-2">
                <label for="payment_date" class="col-sm-4 col-form-label col-form-label-sm"> Payment date
                </label>
                <div class="col-sm-8">
                    <input type="date" disabled name="payment_date" class="form-control form-control-sm"
                        id="payment_date" value = "{{ invoice.payment_date|date:'Y-m-d' }}" />
                </div>
            </div>
            <div class="form-group row mt-2">
                <label for="time-unit" class="col-sm-4 col-form-label col-form-label-sm">Delivery duration</label>
                <div class="col-sm-4">
                    <input type="text" disabled name="delivery_time_interval" class="form-control form-control-sm"
                        value="{{invoice.delivery_time_interval|default:""}}" />
                </div>
                <div class="col-sm-4">
                    <select disabled class="form-select form-select-sm" id="time-unit">
                        <option selected>
                            {{ invoice.delivery_time_unit|default:"" }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group row mt-2">
                <label for="warranty_period" class="col-sm-4 col-form-label col-form-label-sm"> Warranty period
                </label>
                <div class="col-sm-8">
                    <input type="text" disabled name="warranty_period" class="form-control form-control-sm"
                        id="warranty_period" value="{{ invoice.warranty_period|default:"" }}" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row mt-2">
                <label for="discounted_price" class="size-13 col-sm-4 col-form-label col-form-label-sm"> Total Price EXW
                    deducted: </label>
                <div class="col-sm-4">
                    {{ invoice.get_discounted_price|thousand_separator }} {{ invoice.currency|default:'' }}
                </div>
            </div>
            <div class="form-group row mt-2">
                <label for="shipping_fee" class="size-13 col-sm-4 col-form-label col-form-label-sm"> Shipping fee :
                </label>
                <div class="col-sm-4">
                    {{ invoice.shipping_fee|thousand_separator }} {{ invoice.currency|default:'' }}
                </div>
            </div>
            <div class="form-group row mt-2">
                <label for="transport_fee" class="size-13 col-sm-4 col-form-label col-form-label-sm"> Transport fee :
                </label>
                <div class="col-sm-4">
                    {{ invoice.transport_fee|thousand_separator }} {{ invoice.currency|default:'' }}
                </div>
            </div>
            <div class="row mt-2">
                <label for="total-price" class="size-13 col-sm-4 col-form-label col-form-label-sm"> Total Price :
                </label>
                <div class="col-sm-4" id="total-price">
                    {{ invoice.get_total_selling_withFee|thousand_separator }} {{ invoice.currency|default:'' }}
                </div>
            </div>
            <div class="form-group row mt-2">
                <label class="size-13 col-sm-4 col-form-label col-form-label-sm"> Currency : </label>
                <div class="col-sm-4">
                    <select disabled class="form-select form-select-sm">
                        <option selected>
                            {{ invoice.currency|default:'' }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group row mt-2">
                <label class="size-13 col-sm-4 col-form-label col-form-label-sm"> Show local contact: </label>
                <div class="col-sm-4">
                    <input type="checkbox" disabled {% if invoice.local_contact %} checked {%endif %}
                        class="form-check-input" name="local_contact" value="1" step="any" />
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <a onclick="load_modal('Generate pdf','{%  url "print-invoice" invoice.id %}')"
                    class="btn btn-dark btn-sm">
                    Print 
        </a>
    </div>
</div>
<script>
    $(document).ready(function () {

       
    });

</script>