{% load static %}
{% load format_numbers %}
<div class="container">
    <div class="item-to-print font-arial" contentEditable="true">
        <!-- Header section -->
        <div class="header-pdf">
            <div class="header-img row">
                <div class="col-12">
                    <img src="{% static 'img/print_header.png' %}" class="img-fluid" alt="Header Image">
                </div>
            </div>
        </div>
        <!-- Contact section -->
        <div class="mt-4 d-flex justify-content-between">
            <div>
                <h6>
                    {{ translations.client_ref }}: <strong> {{ invoice.client_nbr }} </strong><br />
                    {{ translations.invoice }}: <strong> {{ invoice.invoice_nbr }} </strong> <br />
                    {{ translations.project_nbr }}: <strong> {{ invoice.project.project_nbr }} </strong>
                </h6>
                <div class="destination-info">
                    <strong> {{ translations.destination }} </strong>
                    <p> {{ invoice.project.client|default:"" }} <br />
                        {{ invoice.project.client.address|default:"" }} <br />
                        {{ invoice.project.client.country }} <br />
                        {{ invoice.project.client.phone_number1|default:"" }} <br />
                        {{ invoice.project.client.phone_number2|default:"" }} <br />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <button onclick="printPage()" class="mt-2 btn btn-dark btn-sm"> Print </button>
</div>
<script>

    function printPage() {
        var printContent = document.querySelector('.item-to-print');
        document.body.innerHTML = printContent.outerHTML;
        window.print();
        window.location.reload();
    }

    $(document).ready(function () {
        var currentDate = new Date();
        var day = currentDate.getDate();
        var month = currentDate.getMonth() + 1;
        var year = currentDate.getFullYear();

        var formattedDate = day + '.' + month + '.' + year;
        $('#currentDate').text(formattedDate);
    });

</script>