{% extends 'main.html' %}
{% load static %}
{% block content %}
  <main class="container-fluid">
    <div class="my-3 p-3 border border-1 rounded shadow-sm bg-light">
      <h5 class="mb-4">Espace client</h5>
      {% include 'alert.html' %}
      <form method="POST" action="{% url 'client-create' %}">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-4">
            <div class="form-group row">
              <label for="id_client_name" class="col-sm-3 col-form-label col-form-label-sm">Client Name</label>
              <div class="col-sm-9">
                <input type="text" name="client_name" class="form-control form-control-sm" id="id_client_name"/>
              </div>
            </div>
            <div class="form-group row mt-2">
              <label for="id_address" class="col-sm-3 col-form-label col-form-label-sm">Address</label>
              <div class="col-sm-9">
                <input type="text" name="address" class="form-control form-control-sm" id="id_address"/>
              </div>
            </div>
            <div class="form-group row mt-2">
              <label for="id_postal_code" class="col-sm-3 col-form-label col-form-label-sm">Postal Code</label>
              <div class="col-sm-9">
                <input type="text" name="postal_code" class="form-control form-control-sm" id="id_postal_code"/>
              </div>
            </div>
            <div class="form-group row mt-2">
              <label for="email1" class="col-sm-3 col-form-label col-form-label-sm">Country</label>
              <div class="col-sm-9">
                <select class="form-select form-select-sm" name="country" aria-label=".form-select-sm example">
                    {% for country in countries %} 
                      <option value="{{ country.id }}" {% if client.country.id == country.id %} selected {% endif %}>
                        {{ country }}
                      </option>
                    {% endfor %} 
                </select>
              </div>
            </div>
            <div class="form-group row mt-2">
              <label for="id_city" class="col-sm-3 col-form-label col-form-label-sm">City</label>
              <div class="col-sm-9">
                <input type="text" name="city" class="form-control form-control-sm" id="id_city"/>
              </div>
            </div>
            <div class="form-group row mt-2">
              <label for="language" class="col-sm-3 col-form-label col-form-label-sm">Language</label>
              <div class="col-sm-9">
                <select name="language" class="form-select form-select-sm" id="language">
                  <option value="English">English</option>
                  <option value="German">German</option>
                  <option value="French">French</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group row">
              <label for="id_fax" class="col-sm-3 col-form-label col-form-label-sm">Fax</label>
              <div class="col-sm-9">
                <input type="text" name="fax" class="form-control form-control-sm" id="id_fax"/>
              </div>
            </div>
            <div class="form-group row mt-2">
              <label for="id_phone" class="col-sm-3 col-form-label col-form-label-sm">Phone number</label>
              <div class="col-sm-9">
                <input type="text" name="phone_number" class="form-control form-control-sm" id="id_phone"/>
              </div>
            </div>
             <div class="form-group row mt-2">
              <label for="id_mobile" class="col-sm-3 col-form-label col-form-label-sm">Mobile</label>
              <div class="col-sm-9">
                <input type="text" name="mobile" class="form-control form-control-sm" id="id_mobile"/>
              </div>
            </div>
            <div class="form-group row mt-2">
              <label for="id_email1" class="col-sm-3 col-form-label col-form-label-sm">Email 1</label>
              <div class="col-sm-9">
                <input type="email" name="email1" class="form-control form-control-sm" id="id_email1" />
              </div>
            </div>
            <div class="form-group row mt-2">
              <label for="id_email2" class="col-sm-3 col-form-label col-form-label-sm">Email 2</label>
              <div class="col-sm-9">
                <input type="email" name="email2" class="form-control form-control-sm" id="id_email2" />
              </div>
            </div>
            <div class="form-group row mt-2">
              <label for="website" class="col-sm-3 col-form-label col-form-label-sm">Website</label>
              <div class="col-sm-9">
                <input type="url" name="website" class="form-control form-control-sm" id="website" />
              </div>
            </div>
            <div class="form-group row mt-2">
              <label for="credit_limit" class="col-sm-3 col-form-label col-form-label-sm">Credit Limit</label>
              <div class="col-sm-9">
                <input type="number" name="credit_limit" class="form-control form-control-sm" id="credit_limit" />
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group row">
              <label for="internal_contact" class="col-sm-4 col-form-label col-form-label-sm">Internal Contact</label>
              <div class="col-sm-8">
                <input type="text" name="internal_contact" class="form-control form-control-sm" id="internal_contact" />
              </div>
            </div>
            <div class="form-group row mt-2">
              <label for="external_contact" class="col-sm-4 col-form-label col-form-label-sm">External Contact</label>
              <div class="col-sm-8">
                <input type="text" name="external_contact" class="form-control form-control-sm" id="external_contact" />
              </div>
            </div>
            <div class="form-group row mt-2">
              <label for="representative" class="col-sm-4 col-form-label col-form-label-sm">Representative</label>
              <div class="col-sm-8">
                <input type="text" name="representative" class="form-control form-control-sm" id="representative" />
              </div>
            </div>
            <div class="form-group row mt-2">
              <label for="representative_1" class="col-sm-4 col-form-label col-form-label-sm">Representative 1</label>
              <div class="col-sm-8">
                <input type="text" name="representative_1" class="form-control form-control-sm" id="representative_1" />
              </div>
            </div>
            <div class="form-group row mt-2">
              <label for="representative_2" class="col-sm-4 col-form-label col-form-label-sm">Representative 2</label>
              <div class="col-sm-8">
                <input type="text" name="representative_2" class="form-control form-control-sm" id="representative_2" />
              </div>
            </div>
            <div class="form-group row mt-2">
              <label for="remark" class="col-sm-4 col-form-label col-form-label-sm">Remark</label>
              <div class="col-sm-8">
                <textarea name="remark" class="form-control form-control-sm" rows="3" id="remark"></textarea>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="mt-2 btn btn-dark btn-sm">Save client</button>
      </form>
      {{form}}
    </div>
    <div class="my-3 p-3 border border-1 rounded shadow-sm bg-light">
      <strong>Clinets list </strong>
      <table data-toggle="table" data-pagination="true" data-search="true" class="bg-body">
        <thead>
          <tr>
            <th>Clinet Name</th>
            <th>Country</th>
            <th>Address</th>
            <th>Fax</th>
            <th>Phone</th>
            <th>Action </th>
          </tr>
        </thead>
        <tbody>
          {% for client in clients %}
            <tr>
              <td>{{ client.client_name }}</td>
              <td>{{ client.country }}</td>
              <td>{{ client.address }}</td>
              <td>{{ client.fax }}</td>
              <td>{{ client.phone_number }}</td>
              <td>
                <a href="{% url 'client-detail' client.id %}"><i class="fas fa-eye"></i></a>
                <a href="{% url 'client-edit' client.id %}"><i class="fas fa-edit"></i></a>
                <a href="{% url 'client-delete' client.id %}"><i class="fas fa-trash"></i></a>
             </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
{% endblock %}
