/* ====================================== */
/* darg and drop styling  */
/* ====================================== */

#dropzone {
    border: 2px dashed #ccc;
    padding: 15px;
    text-align: center;
}

#dropzone.dragover {
    background-color: #f5f5f5;
}

#fileList {
    margin-top: 15px;
}


/* ====================================== */
/* text sizing  */
/* ====================================== */

.size-10 {
    font-size: 10px;
}

.size-11 {
    font-size: 11px;
}

.size-12 {
    font-size: 12px;
}

.size-13 {
    font-size: 13px;
}

.modal-xl {
    width: 80%;
}

.font-arial {
    font-family: Arial, sans-serif;
}

.text-description {
    font-size: 12px;
    max-width: 450px;
    min-width: 350px;
}

.outset-border {
    border-style: outset;
}

.doc-header {
    margin-bottom: 10px;
}

.login-container {
    display: flex;
    height: 100vh;
    align-items: center;
}

.company-info {
    background-color: #f2f2f2;
    padding: 30px;
}

.login-form {
    padding: 30px;
    background-color: #ffffff;
}

.text-truncate-custom {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 380px;
    max-height: 250px;
}

.ui-autocomplete {
    z-index: 9999;
}

@media print {
    @page {
        margin-top: 3cm;
        margin-bottom: 1cm;
    }

    @page :first {
        margin-top: 0;
    }
}

.modal-expand {
    width: 100%;
}

i {
    translate: none;
}

a {
    text-decoration: none;
}

.table-scrollable {
    max-height: 100px;
    overflow-y: auto;
}