{% extends 'main.html' %}
{% block content %}
{% load format_numbers %}
<main class="container-fluid">
    <div class="p-3 my-3 text-white bg-dark rounded shadow-sm">
        <div class="lh-1">
            <strong> <a href="{% url 'project-home' %}" class="text-white"> Home</a> / Search </strong>
        </div>
    </div>
    <div class="my-3 p-3 border border-1 rounded shadow-sm bg-light">
        {% include 'alert.html' %}
        <div class="mt-1">
            <form action="" class="row">
                <div class="col-md-4">
                    <div class="form-group row mt-2">
                        <label class="col-sm-4 col-form-label col-form-label-sm">Filter By:</label>
                        <div class="col-sm-8">
                            <select required name="filter_type" class="form-select form-select-sm">
                                <option value="client" {% if filter_type == "client" %} selected="selected" {% endif %}>client</option>
                                <option value="article" {% if filter_type == "article" %} selected="selected" {% endif %}>article</option>
                                <option value="supplier" {% if filter_type == "supplier" %} selected="selected" {% endif %}>supplier</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row mt-2">
                        <label class="col-sm-4 col-form-label col-form-label-sm">Keyword </label>
                        <div class="col-sm-8">
                            <input type="text" id="search_engine" name="keyword" class="form-control form-control-sm"
                                value="{{ keyword }}" required />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="mt-2 btn btn-dark btn-sm"> Search </button>
                </div>
            </form>
        </div>
        {% if filter_type == "client" %}
            {% include "search_by_client.html" %}
        {% elif filter_type == "supplier" %}
            {% include "search_by_supplier.html" %}
        {% elif filter_type == "article" %}
            {% include "search_by_article.html" %}
        {% endif %}
    </div>
</main>
{% endblock %}


{% block javascript %}
<script>

    // load page by url, and display it in modal  
    function load_modal(title, page_url) {
        $('.modal-title').text(title);
        $('.modal-body').load(page_url);
        $('#Modal').modal('show');
    }


    $(document).ready(function () {

        function get_url_name(selectedFilter)
        {
            switch(selectedFilter)
            {
                case "article": url_name = "{% url 'get-articleByKeyWord' %}";
                break;
                case "supplier": url_name = "{% url 'get-supplierByKeyWord' %}";
                break;
                case "client": url_name = "{% url 'get-clientByKeyWord' %}";
                break;
            }

            return url_name;
        }

        var url_name =  get_url_name('{{ filter_type }}');

        $('select[name="filter_type"]').change(function() {
            selectedFilter = $(this).val();
            url_name = get_url_name(selectedFilter);
        });

        $('#search_engine').autocomplete({
        source: function (request, response) {
            $.getJSON(url_name,
            { keyword: request.term }, function (data) {
                // Map the project numbers to an array of objects with label and value properties
                var mappedData = $.map(data, function (item) {
                return {
                    label: item,
                    value: item
                };
                });
                response(mappedData);
            });
        },
        select: function (event, ui) {
        
        }
        });
  });

</script>
{% endblock %}