
{% extends 'search.html' %}
{% block content2 %}
<div class="row mt-5">
<div class="col-md-6 table-scrollable">
    <strong> Related Commands  </strong>
    <table class="table table-sm size-13 mt-2 bg-white">
        <thead>
            <tr>
                <th>Command</th>
                <th>Project</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for supplierCommand in supplierCommands %}
            <tr>
                <td>
                    <a href="#"
                        onclick="load_modal('Update supplier Command N°: {{supplierCommand.command_nbr }}','{%  url "update-supplierCommand" supplierCommand.id %}')">
                        {{supplierCommand.command_nbr }}
                    </a>
                </td>
                <td>
                    <strong> {{ supplierCommand.project.project_nbr }} </strong>
                    <textarea disabled rows="2"
                        class="form-control size-11">{{ supplierCommand.project.project_name }}</textarea>
                </td>
                <td> {{ supplierCommand.created_at|date:'d-m-Y' }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5"> No supplier Command available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="col-md-6 table-scrollable">
    <strong> Related quote Requests</strong>
    <table class="table table-sm size-13 mt-2 bg-white">
        <thead>
            <tr>
                <th>quote Request</th>
                <th>Project</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for quoteRequest in quoteRequests %}
            <tr>
                <td>
                    <a href="#"
                        onclick="load_modal('Update quoteRequest N°: {{ quoteRequest.request_nbr }}','{%  url "update-quoteRequest" quoteRequest.id %}')">
                        {{ quoteRequest.request_nbr }}
                    </a>
                </td>
                <td>
                    <strong> {{ quoteRequest.project.project_nbr }} </strong>
                    <textarea disabled rows="2"
                        class="form-control size-11">{{ quoteRequest.project.project_name }}
                    </textarea>
                </td>
                <td>{{ quoteRequest.created_at|date:'d-m-Y' }}</td>

            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No quoteRequest available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
