{% load format_numbers %}
<div class="container-fluid">
    <form class="commercial-offer-form" method="POST" action="{% url 'update-confirmed-commercialOffer' confirmedOffer.id  %}">
        {% csrf_token %}
        <div class="row">
            <div class="form-group row col-md-6">
                <label for="commission" class="col-md-6 col-form-label col-form-label-sm">
                    <strong> {{ commercialOffer.project.representative }}'s commission </strong>
                </label>
                <div class="col-md-3">
                    <input type="number" required placeholder="commission in %" name="commission"
                        class="form-control form-control-sm" value="{{ confirmedOffer.commission }}" id="commission" />
                </div>
                <div class="col-md-3">
                    <input type="text" disabled placeholder="Amount" class="form-control form-control-sm"
                        value="{{ confirmedOffer.get_commission|thousand_separator }} {{ commercialOffer.currency }}" id="commission_amount" />
                </div>
            </div>
            <div class="col-md-4 form-group row">
                <label for="client_nbr" class="col-sm-4 col-form-label col-form-label-sm">
                    <strong> Client Ref </strong>
                </label>
                <div class="col-sm-8">
                    <input type="text" name="client_nbr" class="form-control form-control-sm" id="client_nbr"
                        value="{{ confirmedOffer.client_nbr|default:"" }}" />
                </div>
            </div>
            {% if  confirmedOffer %}
                <div class="col-md-2">
                    <button type="submit" class="btn btn-dark btn-sm">
                        Save infos
                    </button>
                </div>
            {% endif %}
        </div>
    </form>
    <div class="row mt-2">
        <table class="table table-sm bg-white size-13" id="offer-articles-table">
            <thead class="text-left size-11">
                <tr>
                    <th>Article nbr</th>
                    <th>Description</th>
                    <th>Purchase price </th>
                    <th>Qty</th>
                    <th>Margin</th>
                    <th>Unit</th>
                    <th>Selling price </th>
                    <th>Total Purchase</th>
                    <th>Total Selling</th>
                </tr>
            </thead>
            <tbody>
                {% for order in commercialOffer.order_set.all %}
                <tr>
                    <td class="article-id" data-article-id="{{ article.id }}">
                        <a href="#" onclick="get_article('Article detail','{%  url " update-article" order.article.id
                            %}')">
                            {{ order.article.article_nbr }}
                        </a>
                    </td>
                    <td style="width:300px">
                        <details>
                            <summary>Article Description</summary>
                            <textarea disabled rows="5"
                                class="form-control size-11">{{ order.get_description_by_client_lang }}</textarea>
                        </details>
                    </td>
                    <td class="form-group">
                        {{ order.purchase_price|thousand_separator }} {{ commercialOffer.currency }}
                    </td>
                    <td class="form-group">
                        {{ order.quantity }}
                    </td>
                    <td class="form-group">
                        {{ order.margin }}
                    </td>
                    <td> {{order.article.article_unit}} </td>
                    <td class="selling-price "> {{order.get_selling_price|thousand_separator}} {{ commercialOffer.currency }}</td>
                    <td class="total-purchase"> {{order.get_total_purchase|thousand_separator}} {{ commercialOffer.currency }} </td>
                    <td class="total-selling"> {{order.get_total_selling|thousand_separator}} {{ commercialOffer.currency }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <td colspan="7">
                </td>
                <td colspan="1"> Total Purchase = 
                    <strong class="sum-total-purchase">
                        {{ commercialOffer.get_total_purchase|thousand_separator }} 
                        {{ commercialOffer.currency }}
                    </strong>
                </td>
                <td colspan="2"> Total Price EXW = 
                    <strong class="sum-total-selling">
                        {{ commercialOffer.get_total_selling|thousand_separator }} 
                        {{ commercialOffer.currency }}
                    </strong>
                </td>
            </tfoot>
        </table>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="form-group row mt-2">
                <label for="exceptional-discount" class="col-sm-4 col-form-label col-form-label-sm"> Exceptional
                    discount
                </label>
                <div class="col-sm-3">
                    <input type="number" name="discount" class="form-control form-control-sm" disabled
                        placeholder="discount in %" id="exceptional-discount" value="{{ commercialOffer.discount }}" />
                </div>
            </div>
            <div class="form-group row mt-2">
                <label for="transport" class="col-sm-4 col-form-label col-form-label-sm"> Shipping
                </label>
                <div class="col-sm-8">
                    <select disabled class="form-select form-select-sm" id="shipping">
                        <option selected>
                            {{ commercialOffer.shipping|default:"" }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group row mt-2">
                <label for="transport" class="col-sm-4 col-form-label col-form-label-sm"> Transport mode
                </label>
                <div class="col-sm-8">
                    <select disabled class="form-select form-select-sm" id="shipping">
                        <option selected>
                            {{commercialOffer.transport|default:"" }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group row mt-2">
                <label for="destination" class="col-sm-4 col-form-label col-form-label-sm">Destination</label>
                <div class="col-sm-8">
                    <select disabled class="form-select form-select-sm" id="shipping">
                        <option selected>
                            {{commercialOffer.destination|default:"" }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group row mt-2">
                <label for="payment" class="col-sm-4 col-form-label col-form-label-sm">Payment mode</label>
                <div class="col-sm-8">
                    <select disabled class="form-select form-select-sm" id="payment">
                        <option selected>
                            {{ commercialOffer.payment|default:"" }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group row mt-2">
                <label for="payment_date" class="col-sm-4 col-form-label col-form-label-sm"> Payment date
                </label>
                <div class="col-sm-8">
                    <input type="date" disabled name="payment_date" class="form-control form-control-sm"
                        id="payment_date" value = "{{ commercialOffer.payment_date|date:'Y-m-d' }}" />
                </div>
            </div>
            <div class="form-group row mt-2">
                <label for="time-unit" class="col-sm-4 col-form-label col-form-label-sm">Delivery duration</label>
                <div class="col-sm-4">
                    <input type="text" disabled name="delivery_time_interval" class="form-control form-control-sm"
                        value="{{commercialOffer.delivery_time_interval|default:""}}"  />
                </div>
                <div class="col-sm-4">
                    <select disabled class="form-select form-select-sm" id="time-unit">
                        <option selected>
                            {{ commercialOffer.delivery_time_unit|default:"" }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group row mt-2">
                <label for="warranty_period" class="col-sm-4 col-form-label col-form-label-sm"> Warranty period
                </label>
                <div class="col-sm-8">
                    <input type="text" disabled name="warranty_period" class="form-control form-control-sm"
                        id="warranty_period" value="{{ commercialOffer.warranty_period|default:"" }}" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row mt-2">
                <label for="discounted_price" class="size-13 col-sm-4 col-form-label col-form-label-sm"> Total Price EXW
                    deducted: </label>
                <div class="col-sm-4">
                    {{ commercialOffer.get_discounted_price|thousand_separator }} {{ commercialOffer.currency }}
                </div>
            </div>
            <div class="form-group row mt-2">
                <label for="shipping_fee" class="size-13 col-sm-4 col-form-label col-form-label-sm"> Shipping fee :
                </label>
                <div class="col-sm-4">
                    {{ commercialOffer.shipping_fee|thousand_separator }} {{ commercialOffer.currency }}
                </div>
            </div>
            <div class="form-group row mt-2">
                <label for="transport_fee" class="size-13 col-sm-4 col-form-label col-form-label-sm"> Transport fee :
                </label>
                <div class="col-sm-4">
                    {{ commercialOffer.transport_fee|thousand_separator }} {{ commercialOffer.currency }}
                </div>
            </div>
            <div class="row mt-2">
                <label for="total-price" class="size-13 col-sm-4 col-form-label col-form-label-sm"> Total Price :
                </label>
                <div class="col-sm-4" id="total-price">
                    {{ commercialOffer.get_total_selling_withFee|thousand_separator }} {{ commercialOffer.currency }}
                </div>
            </div>
            <div class="form-group row mt-2">
                <label class="size-13 col-sm-4 col-form-label col-form-label-sm"> Currency : </label>
                <div class="col-sm-4">
                    <select disabled class="form-select form-select-sm">
                        <option selected>
                            {{ commercialOffer.currency }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group row mt-2">
                <label class="size-13 col-sm-4 col-form-label col-form-label-sm"> Show local contact: </label>
                <div class="col-sm-4">
                    <input type="checkbox" disabled {% if commercialOffer.local_contact %} checked {%endif %}
                        class="form-check-input" name="local_contact" value="1" step="any" />
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        function formatNumber(number) {
            number = number.toFixed(2)
            var strNumber = number.toString();
            var parts = strNumber.split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            var formattedNumber = parts.join(",");
            return formattedNumber;
        }

        $('#commission').on('input', function () {
            var totalPrice = $('#total-price').text().replace(/\./g, '').replace(',', '.') || 0;
            var totalPrice = parseFloat(totalPrice);
            var commissionPercentage = parseFloat($(this).val());
            if (!isNaN(totalPrice) && !isNaN(commissionPercentage)) {
                var commissionAmount = (totalPrice * commissionPercentage) / 100;
                $('#commission_amount').val(formatNumber(commissionAmount) + " {{ commercialOffer.currency }}");
            }
        });
    });

</script>